
  .quantity-field {
    width: 60px; 
    text-align: center; 
    border:none;
    border-bottom: 2px solid #ccc; 
    padding: 2px; 
    text-align: center;
    background-color: transparent; 
    outline: none; 
  }
  

  


  